<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
      </head>

      <body>

        <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
        </form>
          <p id="location"></p>
          <p id="latitude_longitude"></p>
          
          <p id="forecast"></p>
          <p id="error"></p>
          
          <script src="js/script.js"></script>
      </body>
</html>